<div id="arr">
    <ul id="arr-navigation">
        <li id="first-arr"><a href="#" class="btn">Arrange products by price</a></li>
        <li id="second-arr"><a href="#" class="btn">Arrange products by price (descending)</a></li>
        <li id="third-arr"><a href="#" class="btn">Arrange products by name</a></li>
        <li><a href="#" class="btn">Arrange products by name(descending)</a></li>
    </ul>
</div>
<div id="main-container">
    {{#each biofoods}}
    <div class="gallery col-sm-4 col-md-3">
        <a href="#/{{type}}/:{{id}}">
            <img class="main-image img-responsive" src="{{image}}" />
            <div class="img-title">
                <h3 class='product-name'>{{name}}</h3>
                <p>$ {{price}}</p>
            </div>
        </a>
    </div>
    {{/each}}
</div>>