<div>
    <div class="img-container col-sm-6">
        <img class="img-responsive" src="{{image}}" />
    </div>
    <div class="col-sm-6">
        <h2 class="product-name">{{name}}</h2>
        <p class="product-price">Price: $ {{price}}</p>
        <h3 class="product-quantity">Quantity</h3>
        <div class="dropdown dropdown-alignment">
            <button class="btn col-xs-12" type="button" data-toggle="dropdown">Select
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
            </ul>
        </div>
        <div class="product-add">
            <button class="product-add-btn btn col-xs-12">Add to Cart</button>
        </div>
        <div>
            <h3 class="product-information">Product Information:</h3>
            <p class="product-description">{{description}}</p>
        </div>
        <div>
            <h3 class="product-information">Ingredients:</h3>
            <p class="product-description">{{ingredients}}</p>
        </div>
    </div>

</div>