<div id="main-container">
    <h2 id="shopping-cart">Your Shopping Cart:</h2>
    {{#each this}}
        <div>
            <ul>
                <li>
                    <div class="gallery cart-gallery">
                    <a href="#/{{type}}/:{{id}}">
                        <img class="main-image img-responsive" src="{{image}}" />
                    </a>
                    </div>
                    <div>
                        <h3 class='product-name'>{{name}}</h3>
                        <p>$ {{price}}</p>
                    </div>
                </li>
            </ul>
        </div>
    {{/each}}
</div>