<div id="main-container">
    {{#each this}}
        {{#if image}}
    <div class="gallery col-sm-4 col-md-3">
        <a href="#/{{type}}/:{{id}}">
            <img class="main-image img-responsive" src="{{image}}" />
            <div class="img-title">
                <h3 class='product-name'>{{name}}</h3>
                <p>$ {{price}}</p>
            </div>
        </a>
    </div>
    {{else}}
    <h1> Nothing </h1>
    {{/if}}
    {{/each}}
</div>