<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext"><span>1 / 3</span></div>
        <a href="#/biofoods/:{{biofoods.[0].id}}"><img class="slide-show-image" src="{{biofoods.[0].image}}"></a>
        <div class="text"><span>{{biofoods.[0].name}}</span></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"><span>2 / 3</span></div>
        <a href="#/cosmetics/:{{cosmetics.[0].id}}"><img class="slide-show-image" src="{{cosmetics.[0].image}}"></a>
        <div class="text"><span>{{cosmetics.[0].name}}</span></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"><span>3 / 3</span></div>
        <a href="#/supplements/:{{supplements.[0].id}}"><img class="slide-show-image" src="{{supplements.[0].image}}"></a>
        <div class="text"><span>{{supplements.[0].name}}</span></div>
    </div>

    </brs>

    <div class="dot-container">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>

</div>


